#root {
  width: 100vw;
  height: 100vh;
}
.title-text{
  color: #201b71;
  font-size: 3rem;
  position: absolute;
  top: 20%;
  left: 0%;
}

body {
  margin: 0;
}

   /* Import Google font - Poppins */
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
   }
   

   body.show-chatbot .chatbot-toggler {
     transform: rotate(90deg);
   }
   .chatbot-toggler span {
     color: #fff;
     position: absolute;
   }
   .chatbot-toggler span:last-child,
   body.show-chatbot .chatbot-toggler span:first-child  {
     opacity: 0;
   }
   body.show-chatbot .chatbot-toggler span:last-child {
     opacity: 1;
   }
   .chatbot-box{
    position: fixed;
    right: 10%;
    top: 0;
    width: 600px;
    height: 90%;
   }
   .chatbot {
     position: absolute;
     top: 0;
     left: 0%;
     width: 100%;
     height: 100%;
     border-radius: 15px;
     overflow: hidden;
     opacity: 1;
     pointer-events: none;
     transform-origin: bottom right;
   /*   box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                 0 32px 64px -48px rgba(0,0,0,0.5); */
     transition: all 0.1s ease;
     /* From https://css.glass */
     z-index: 1;

     
   }
   body.show-chatbot .chatbot {
     opacity: 1;
     pointer-events: auto;
     transform: scale(1);
   }
  
   .chatbot header span {
     position: absolute;
     right: 15px;
     top: 50%;
     display: none;
     cursor: pointer;
     transform: translateY(-50%);
     z-index: 5;
   }
   header h2 {
     font-size: 1.4rem;
   }
    .chatbox {
      position: fixed;
     overflow-y: auto;
     height: 600px;
     padding: 30px 20px 100px;
     width: 38rem;
     top: 0; right:15%;
   }
   .chat-box{
    z-index: 100;
   }
   .chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
     width: 6px;
   }
   .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
     background: #fff;
     border-radius: 25px;
   }
   .chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
     background: #ccc;
     border-radius: 25px;
   }
   .chatbox .chat {
     display: flex;
     list-style: none;
   }
   .chatbox .outgoing {
     margin: 20px 0;
     justify-content: flex-end;
   }
   /* Add this to your App.css file */
.chat.outgoing p {
  background-color: #724ae8;
  color: #fff;
  border-radius: 10px 10px 0 10px;
  white-space: pre-wrap;
  padding: 12px 16px;
  max-width: 75%;
  font-size: 0.95rem;
  margin: 10px 0 0 0;
  
  
}

.chat.outgoing span.material-symbols-outlined {
  display: none; /* You can hide the icon for outgoing messages if desired */
}
   .chatbox .incoming span {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 3rem;
     height: 3rem;
     color: #fff;
     cursor: default;
     text-align: center;
     line-height: 32px;
     transform: translateY(1rem);
     align-self: flex-end;
     background: rgba(255, 255, 255, 0.465);
     border-radius: 50%;
     margin: 0 10px 7px 0;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(255, 255, 255, 0.3);
   }
   .chatbox .chat p {
     white-space: pre-wrap;
     padding: 12px 16px;
     border-radius: 10px 10px 0 10px;
     max-width: 75%;
     color: #fff;
     font-size: 0.95rem;
     
     background: rgba(114, 74, 232, 0.5);
    
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(255, 255, 255, 0.3);
   }
   .chatbox .incoming p {
     border-radius: 10px 10px 10px 0;
  
   }
   .chatbox .chat p.error {
     color: #721c24;
     background: #f8d7da;
   }
   .chatbox .incoming p, .chatbox .present p {
     color: #000;
   
     background: rgba(255, 255, 255, 0.5);
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgb(255, 255, 255);
   }
    .chat-input {
     display: flex;
     gap: 5px;
     position: fixed;
     top: 70%;
     right: 15%;
     width: 32rem;
     height: 4rem;
     background: #fff;
     padding: 3px 20px;
     border-top: 1px solid #ddd;
     background: rgba(255, 255, 255, 0.2);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(255, 255, 255, 0.3);
     z-index: 100;
     
   }
   .chat-input textarea {
     height: 55px;
     width: 100%;
     border: none;
     outline: none;
     resize: none;
     max-height: 180px;
     padding: 15px 15px 15px 0;
     font-size: 0.95rem;
     background-color: rgba(0, 0, 0, 0);
   }
   .chat-input span {
     align-self: flex-end;
     color: #201b71;
     cursor: pointer;
     height: 55px;
     display: flex;
     align-items: center;
     visibility: hidden;
     font-size: 1.35rem;
   }
   .chat-input textarea:valid ~ span {
     visibility: visible;
   }



   .chat-present {
    position: absolute;
    top: 50%;
    
    right: 17%;
    display: flex;
    justify-content: center;
  
    flex-direction: column;
    width: 30rem;
    white-space: pre-wrap;
     padding: .3rem .9rem;
     border-radius: 10px 10px 0 10px;
     max-width: 75%;
     color: #fff;
     font-size: 0.95rem;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     font-size: 1.3rem;
     -webkit-backdrop-filter: blur(5px);
     overflow: hidden;
     z-index: 1;
     
   }
   .chat-present-text{
    position: relative;
    font-size: 1.7rem;
    z-index: 40;
   }

   .chat-present-text-title{
    color:#201b71 ;
    font-weight: bold;
   }

   .chat-present .cover{
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left,rgba(23, 189, 93, 0) ,rgba(255, 255, 255, 0.6));
    width: 100%;
    height: 100%;
    z-index: 1;
   }
   .send-btn,.send-btn-voice{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    background: #ffffff70;
    color: white;
    width: 3.4rem;
    height: 2.8rem;
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: 1.3rem;
    -webkit-backdrop-filter: blur(5px);
    margin-left: .5rem;
    margin-top: .4rem;
   }

   @media (max-width: 490px) {
     .chatbot-toggler {
       right: 20px;
       bottom: 20px;
     }
     .chatbot {
       right: 0;
       bottom: 0;
       height: 100%;
       border-radius: 0;
       width: 100%;
     }
     .chatbot .chatbox {
       height: 90%;
       padding: 25px 15px 100px;
     }
     .chatbot .chat-input {
       padding: 5px 15px;
     }
     .chatbot header span {
       display: block;
     }
   }

   .loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fdfdfd;
    margin-top: 2rem;
    margin: 0 5px;
    animation: scale 1.5s infinite ease-in-out;
}

@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.appear{
 transform: scale(0);
 animation: sc .3s ease-out both;
}

@keyframes sc {
  to{
    transform: scale(1);
  }
}
